name: Build and Release App

# 触发条件：当你推送 v* 标签时 (例如 v1.0.0)
on:
  push:
    tags:
      - "v*"
  workflow_dispatch:  # <--- 加上这一行！

# 【新增】必须加上这一段，授予写权限！
permissions:
  contents: write

jobs:
  # =================================================
  # 任务 1: 编译 Android APK
  # =================================================
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Get Dependencies
        run: flutter pub get

      # 解码 Keystore 文件
      - name: Decode Keystore
        run: |
          echo "${{ secrets.ANDROID_KEYSTORE_BASE64 }}" | base64 --decode > android/app/upload-keystore.jks
      
      # 创建 key.properties 让 Gradle 读取
      - name: Create key.properties
        run: |
          echo "storePassword=${{ secrets.KEY_PASSWORD }}" > android/key.properties
          echo "keyPassword=${{ secrets.ALIAS_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/key.properties
          echo "storeFile=upload-keystore.jks" >> android/key.properties

      - name: Build APK
        run: flutter build apk --release

      # 上传到 GitHub Release
      - name: Upload APK to Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "build/app/outputs/flutter-apk/app-release.apk"
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          body: "Auto-generated release for Android."

  # =================================================
  # 任务 2: 编译 Windows EXE
  # =================================================
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Get Dependencies
        run: flutter pub get

      - name: Build Windows
        run: flutter build windows --release

      # 打包成 zip
      - name: Archive Windows Release
        uses: thedoctor0/zip-release@0.7.1
        with:
          type: 'zip'
          filename: 'windows-release.zip'
          # 【修改点 1】加上 /x64/
          directory: 'build/windows/x64/runner/Release' 

      # 上传到 GitHub Release
      - name: Upload Windows Zip to Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          # 【修改点 2】这里的路径也要加上 /x64/，因为 zip 生成在上面的目录里
          artifacts: "build/windows/x64/runner/Release/windows-release.zip"
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
